/* 清楚元素的默认样式 */
* {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
	font-family: "PingFang SC",Arial,"Microsoft YaHei",sans-serif;
    /* line-height: 1.5; */
}

/* 统一图片的样式 */
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}